.container > div {
    margin: 2px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
}



.container {
    width: 50%;
    min-width: max-content;
}

.row {
    display: flex !important;
    flex-flow: row !important; ;
    justify-content: space-between !important;
}