.location {
    border: 2px solid rgb(0, 204, 0);
    border-radius: 5px;
    background-color: rgba(0, 48, 0, 0.814);
    max-width: 100%;
    margin: 5px;
    padding: 10px;
}

.loc-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.location img {
    border: 2px solid rgb(0, 204, 0);
    border-radius: 5px;
}

.loc-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.loc-name {
    font-size: 20px;
}

.loc-actions {
    margin-left: auto;
}

.loc-mission-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.loc-mission-actions {
    margin-left: auto;
}

.loc-mission-actions > button {
    margin-left: 10px;
}
