.station-bar {
    min-width: fit-content;
    width: 27vw;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: 10px;
    height: 80vh;
}

.menu {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.menu>div {
    justify-self: center;
    align-self: center;
}