.station-bar {
    min-width: fit-content;
    width: 30vw;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: 10px;
    height: 80vh;
}

.menu {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 2px 0 2px 5px;
    background-image: -webkit-linear-gradient(#000000, #00170000);
}

.menu>div {
    justify-self: center;
    align-self: center;
}