.storage {
    width: -moz-available;
    height: 39%;
    background-image: -webkit-linear-gradient(#001700, #002300, #001700);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border: #000000 solid 4px;
    box-shadow: 0 0 5px 5px rgba(0, 23, 0, 0.85);
}

.resource-row {
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
}
